In [78]:
import pandas as pd
import numpy as np

In [79]:
basics_df = pd.read_csv("/Users/jiabaoyao/Study Abroad/Projects/Data Model Query Lang/Project(phase1)/CSE560-Project/originalData/title.basics.tsv", sep="\t")
basics_df.info()

/var/folders/gw/f0bp5qm956zdx_zp29qydky00000gn/T/ipykernel_34758/778968076.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  basics_df = pd.read_csv("/Users/jiabaoyao/Study Abroad/Projects/Data Model Query Lang/Project(phase1)/CSE560-Project/originalData/title.basics.tsv", sep="\t")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11495243 entries, 0 to 11495242
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 789.3+ MB

In [80]:
base_ele = ["tconst", "titleType", "primaryTitle", "originalTitle", "isAdult", "startYear", "endYear", "runtimeMinutes"]
TV_Movie = basics_df[base_ele]

In [81]:
# Save the tvEpisode entries first
Episode_Details_Origin = TV_Movie[TV_Movie["titleType"] == "tvEpisode"]

# Now drop tvEpisode entries from TV_Movie
TV_Movie = TV_Movie[TV_Movie["titleType"] != "tvEpisode"]

# Select only relevant columns from Episode_Details_Origin
Episode_Details = Episode_Details_Origin[["tconst", "primaryTitle", "originalTitle", "startYear", "runtimeMinutes"]]

In [82]:
# replace "," or ";" to "/" in the string
TV_Movie['primaryTitle'] = TV_Movie['primaryTitle'].str.replace(r',','/', regex=False)
TV_Movie['primaryTitle'] = TV_Movie['primaryTitle'].str.replace(r';','/', regex=False)
TV_Movie['originalTitle'] = TV_Movie['originalTitle'].str.replace(r',','/', regex=False)
TV_Movie['originalTitle'] = TV_Movie['originalTitle'].str.replace(r';','/', regex=False)

In [83]:
# replace \N to ''
TV_Movie['tconst'] = TV_Movie['tconst'].replace(r'\N','')
TV_Movie['titleType'] = TV_Movie['titleType'].replace(r'\N','')
TV_Movie['primaryTitle'] = TV_Movie['primaryTitle'].replace(r'\N','')
TV_Movie['startYear'] = TV_Movie['startYear'].replace(r'\N','')
TV_Movie['endYear'] = TV_Movie['endYear'].replace(r'\N','')
TV_Movie['runtimeMinutes'] = TV_Movie['runtimeMinutes'].replace(r'\N','')

Episode_Details['tconst'] = Episode_Details['tconst'].replace(r'\N','')
Episode_Details['primaryTitle'] = Episode_Details['primaryTitle'].replace(r'\N','')
Episode_Details['startYear'] = Episode_Details['startYear'].replace(r'\N','')
Episode_Details['originalTitle'] = Episode_Details['originalTitle'].replace(r'\N','')
Episode_Details['runtimeMinutes'] = Episode_Details['runtimeMinutes'].replace(r'\N','')
TV_Movie

/var/folders/gw/f0bp5qm956zdx_zp29qydky00000gn/T/ipykernel_34758/1628807337.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Episode_Details['tconst'] = Episode_Details['tconst'].replace(r'\N','')
/var/folders/gw/f0bp5qm956zdx_zp29qydky00000gn/T/ipykernel_34758/1628807337.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Episode_Details['primaryTitle'] = Episode_Details['primaryTitle'].replace(r'\N','')
/var/folders/gw/f0bp5qm956zdx_zp29qydky00000gn/T/ipykernel_34758/1628807337.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Episode_Details['startYear'] = Episode_Details['startYear'].replace(r'\N','')
/var/folders/gw/f0bp5qm956zdx_zp29qydky00000gn/T/ipykernel_34758/1628807337.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Episode_Details['originalTitle'] = Episode_Details['originalTitle'].replace(r'\N','')
/var/folders/gw/f0bp5qm956zdx_zp29qydky00000gn/T/ipykernel_34758/1628807337.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Episode_Details['runtimeMinutes'] = Episode_Details['runtimeMinutes'].replace(r'\N','')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes
0,tt0000001,short,Carmencita,Carmencita,0,1894,,1
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,,5
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,,5
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,,12
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,,1
...,...,...,...,...,...,...,...,...
11495183,tt9916730,movie,6 Gunn,6 Gunn,0,2017,,116
11495193,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,,49
11495194,tt9916756,short,Pretty Pretty Black Girl,Pretty Pretty Black Girl,0,2019,,
11495198,tt9916764,short,38,38,0,2018,,
11495241,tt9916856,short,The Wind,The Wind,0,2015,,27

In [106]:
# delete data rows where "tconst" or "primaryTitle" is None based on the constraint.
TV_Movie[["tconst", "primaryTitle"]].dropna()
TV_Movie = TV_Movie[TV_Movie["primaryTitle"].isna()==False]

In [107]:
Episode_Details

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes
30892,tt0031458,El huésped del sevillano,El huésped del sevillano,1970,86
41211,tt0041951,The Tenderfeet,The Tenderfeet,1949,30
42059,tt0042816,Othello,Othello,1950,143
42131,tt0042889,The Tragedy of King Richard II/II,The Tragedy of King Richard II/II,1950,145
42655,tt0043426,Coriolanus,Coriolanus,1951,60
...,...,...,...,...,...
11495237,tt9916846,Episode #3.18,Episode #3.18,2009,
11495238,tt9916848,Episode #3.17,Episode #3.17,2009,
11495239,tt9916850,Episode #3.19,Episode #3.19,2010,
11495240,tt9916852,Episode #3.20,Episode #3.20,2010,
11495242,tt9916880,Horrid Henry Knows It All,Horrid Henry Knows It All,2014,10

In [108]:
import psycopg2
import io

In [109]:
conn = psycopg2.connect(
    dbname="postgres",
    user="postgres.jzysaequuaturayaiczd",
    password="12345jiabaoyaogary",
    host="aws-0-us-west-1.pooler.supabase.com",
    port=6543
)
cur = conn.cursor()

In [110]:


# Step 1: Create a CSV buffer from the DataFrame
buffer = io.StringIO()
TV_Movie.to_csv(buffer, index=False, header=False)
buffer.seek(0)

0

In [111]:
conn.rollback()

In [112]:

cur.copy_from(buffer, 'tv_movie', sep=',', null='')
conn.commit()